<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hang Out{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="#">여기어때.</a>
            </div>
            <div class="login-signup">
                <a href="#">로그인/회원가입</a>
            </div>
            <div class="menu">
                <span>&#9776;</span>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
